.chat-box
	position: fixed
	z-index: 1032
	left: 30px
	bottom: 30px
	width: 326px
	border: 1px solid #CCCCCC
	border-bottom: 0
	box-shadow: -3px 0 6px rgba($black, .16)
	transition: all ease-in-out .1s
	height: 100%
	
	&:not(.is-minimized)
		bottom: 0
	&.relative
		position: relative
		left: 0
		bottom: 0
		width: inherit
		box-shadow: none
		transition: none
		height: 320px
		.chat-body
			height: 100%
			overflow: auto
			.chat-list
				height: auto
	.chat-header
		border-bottom: 1px solid #CCCCCC
		box-shadow: 0 3px 6px rgba($black, .16)
		position: relative
		z-index: 2
		height: 70px
		display: flex
		align-items: center
		cursor: pointer
		background-color: $white
		transition: all ease-in-out .1s

		.icon-status
			font-size: 16px
			position: absolute
			right: 24px

		.icon-maximize
			display: none

		h5
			margin-bottom: 0

		.chat-count
			background-color: $primary
			color: $white
			display: flex
			width: 70px
			height: 70px
			align-items: center
			justify-content: center
			margin-right: 24px
			position: relative

			.icon-message
				font-size: 24px

			.notify-count
				display: flex
				align-items: center
				justify-content: center
				position: absolute
				top: 14px
				right: 14px
				background-color: $red
				width: 18px
				height: 18px
				border-radius: 50%
				font-size: 10px
	
	.chat-body
		transition: all ease-in-out .1s
		background-color: $white

		.chat-list
			list-style: none
			margin: 0
			padding-left: 0
			/* height: 372px */
			overflow-y: auto
			padding-bottom: 70px

			.simplebar-track.horizontal
				display: none

		.simplebar-content
			padding: 15px

		.participant-avatar
			width: 28px
			height: 28px
			position: relative
			display: block
			
			&:before
				content: ""
				position: absolute
				width: 8px
				height: 8px
				border: 1px solid $white
				background-color: $green
				border-radius: 50%
				right: 0
				bottom: 0

			img
				width: 28px
				height: 28px
				border-radius: 50%
		
		.participant
			position: relative
			padding-left: 28px + 12px
			margin-bottom: 16px

			p
				background-color: #F0F4F9
				border-radius: 16px 16px 16px 0
				padding: 12px
				margin-bottom: 8px
				display: inline-block
				font-weight: 500
				font-size: 12px
				line-height: 18px

			.participant-avatar
				position: absolute
				left: 0
				bottom: 30px

			.chat-footer
				font-size: 12px 
				
				.participant-name
					margin-right: 8px

			.file-attachment
				display: flex
				align-items: center
				font-weight: 700
				margin-bottom: 8px
				text-decoration: none
				color: $primary
				font-size: 12px

				.attachment-icon
					color: $white
					font-size: 22px
					background-color: $primary
					width: 44px
					height: 44px
					border-radius: 50%
					display: flex
					align-items: center
					justify-content: center
					margin-right: 12px

			.participant-name,
			.chat-time
				display: inline-block
				line-height: 15px

			&.is-away .participant-avatar:before
				background-color: $yellow

			&.is-offline .participant-avatar:before
				background-color: $gray-400


			&.self-chat
				padding-left: 0
				padding-right: 28px + 12px
				text-align: right

				p
					border-radius: 16px 16px 0 16px

				.participant-avatar
					left: auto
					right: 0

			&.chat-is-red p,
			&.chat-is-gray p,
			&.self-chat p
				color: $white

			&.chat-is-red p
				background-color: $red

			&.chat-is-gray p
				background-color: $gray-700

			&.self-chat p
				background-color: $primary

	.chat-compose
		height: 60px
		border-top: 1px solid #CCCCCC
		box-shadow: -3px 0 6px rgba($black, .16)
		position: absolute
		z-index: 1
		display: flex
		overflow: hidden
		background-color: $white
		transition: all ease-in-out .1s
		left: 0
		bottom: 0
		width: 100%

		.btn
			box-shadow: none
			font-size: 24px
			display: flex;
			align-items: center
			justify-content: center
			color: $body-color

			&.disabled
				opacity: .3

		&.is-active .btn-send
			color: $primary 


		.form-control
			border-radius: 0
			border: 0
			box-shadow: none
			height: 60px
			margin: -1px

	&.is-minimized
		border: none
		box-shadow: 0 0 0

		.icon-minimize
			display: none
			
		.icon-maximize
			display: block
		
		.chat-header
			border-radius: 6px
			border: 1px solid #CCCCCC
			box-shadow: -3px 3px 6px rgba($black, .16)

			.chat-count
				border-top-left-radius: 6px
				border-bottom-left-radius: 6px

		.chat-body,
		.chat-compose
			height: 60px
			margin-top: -60px
			visibility: hidden
			opacity: 0