
@media (min-width: $desktop)
    #navbar-menu
        flex: 1
    .navbar-brand
        width: 300px
        box-shadow: 1px 0 0 $gray-300
        height: 60px
        padding-left: .5rem
        padding-right: .5rem
        position: relative
        background-color: white
        margin-right: 0
        @media (max-width: 1280px)
            width: 264.5px
        .side-menu
            position: absolute
            top: 55%
            right: 50px
            transform: translateY(-50%)
            -webkit-transform: translateY(-50%)
            -moz-transform: translateY(-50%)
            -ms-transform: translateY(-50%)
            &.open
                i
                    transform: rotate(180deg)
                    -webkit-transform: rotate(180deg)
                    -moz-transform: rotate(180deg)
                    -ms-transform: rotate(180deg)
        .navbar-btn
            position: absolute
            top: 50%
            right: 15px
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            width: 18px
            height: 30px
            padding: 0
            background-color: transparent
            border: none
            cursor: pointer
            &:focus
                outline: none
                border: none
                box-shadow: none
            > span
                color: $theme
                font-size: .875rem
.navbar
    @media (min-width: $desktop)
        padding: 0
        height: 60px
#navbar-menu
    background-color: white
    box-shadow: 1px 2px 1px rgba($black, .16)
    transition: all ease-in-out .2s
    -webkit-transition: all ease-in-out .2s
    -moz-transition: all ease-in-out .2s
    -ms-transition: all ease-in-out .2s
    @media (max-width: 1024px)
        overflow-x: auto
    &.hide
        margin-top: -120px
.navbar-item.active .nav-link
    color: $link-color
.nav-link
    color: inherit
    display: flex
    align-items: center
    
    @media (min-width: $desktop)
        height: 60px
        min-width: 7rem
    
    .nav-text
        font-size: 13px
        line-height: 14px
        font-weight: 700
        word-break: break-word
        padding-left: 9px
        flex: 1
        @media (max-width: 1366px)
            font-size: 12px
            padding-left: 4px
            font-weight: 400
    .nav-icon
        width: 30px
        height: 30px
        border-radius: 50%
        display: flex
        color: $white
        align-items: center
        justify-content: center
        background-color: $primary
        box-shadow: 0 3px 6px rgba($black, .16)
        @media (max-width: 1366px)
            font-size: 12px
            width: 25px
            height: 25px